doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(defer src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='http://wzrd.in/standalone/uuid%2Fv5@latest')
    script(src='/javascripts/scripts.js')
  body
    block content
